:host {
  display: grid;
  row-gap: 20px;
}

.posts {
  &__owner {
    color: red;
    margin-bottom: 4px;
  }
}

.post {
  border: 1px solid rgba(0, 0, 0, 0.5);
  display: grid;
  grid-template-rows: auto 1fr;
  border-radius: 6px;

  &__title {
    background-color: #ccc;
    padding: 8px;
    border-radius: 4px 4px 0 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__data {
    padding: 12px;
  }
}


.posts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
  gap: 12px;
}
