:host {
  display: grid;
  row-gap: 20px;
}

.posts {
  &__owner {
    color: red;
    margin-bottom: 4px;
  }
}


.posts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
  gap: 12px;
}
